// src/styles/globals.scss
// Definindo as variáveis de cores
$azul-marinho: #2c3e50;
$cinza-queimado: #34495e;
$amarelo-queimado: #f1c40f;

// Definindo a fonte
body {
  font-family: 'Fira Code', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Estilos para o cabeçalho
.header {
  background-color: $azul-marinho;
  padding: 1rem;
  .nav {
    display: flex;
    justify-content: space-around;
    .nav-link {
      color: white;
      text-decoration: none;
      &:hover {
        color: $amarelo-queimado;
      }
    }
  }
}

// Estilos para a seção Home
.home-section {
  padding: 2rem;
  .home-content {
    display: flex;
    align-items: center;
    .profile-image {
      border-radius: 50%;
      margin-right: 2rem;
    }
    .home-text {
      .home-title {
        color: $azul-marinho;
      }
      .home-description, .home-hobbies {
        color: $cinza-queimado;
      }
      .about-link {
        background-color: $amarelo-queimado;
        color: white;
        padding: 0.5rem 1rem;
        text-decoration: none;
        border-radius: 5px;
        &:hover {
          background-color: darken($amarelo-queimado, 10%);
        }
      }
    }
  }
}

// Estilos para a seção Projetos
.projects-section {
  padding: 2rem;
  .projects-title {
    color: $azul-marinho;
  }
  .projects-carousel {
    .project-slide {
      text-align: center;
      .project-image {
        border-radius: 10px;
      }
      .project-name {
        color: $azul-marinho;
      }
      .project-description {
        color: $cinza-queimado;
      }
    }
  }
}

// Estilos para a seção Contato
.contact-section {
  padding: 2rem;
  .contact-title {
    color: $azul-marinho;
  }
  .contact-links {
    display: flex;
    justify-content: space-around;
    .contact-link {
      color: $cinza-queimado;
      text-decoration: none;
      &:hover {
        color: $amarelo-queimado;
      }
    }
  }
}

// Estilos para o rodapé
.footer {
  background-color: $azul-marinho;
  color: white;
  text-align: center;
  padding: 1rem;
  .footer-text {
    margin: 0;
  }
}

// Estilos para a pagina Sobre
.sobre-page {
  padding: 2rem;
  .sobre-main {
    display: flex;
    justify-content: center;
    align-items: center;
    .sobre-content {
      display: flex;
      align-items: center;
      gap: 2rem;
      .sobre-image {
        border-radius: 50%;
      }
      .sobre-text {
        max-width: 600px;
        .sobre-title {
          color: $azul-marinho;
        }
        .sobre-description {
          color: $cinza-queimado;
        }
      }
    }
  }
}

// Estilos para a pagina Projetos
.projetos-page {
  padding: 2rem;
  .projetos-main {
    text-align: center;
    .projetos-title {
      color: $azul-marinho;
      margin-bottom: 2rem;
    }
  }
}